.start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container {
    width: 1020px;
    height: 540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
